
h1, h2 {
	color: #fff;
	display: inline;
	font-weight: 700;
	letter-spacing: 1px;
}
h1 {
	font-size: 2.25rem;
	line-height: 1.45;
}
h2 {
	font-size: 1.75rem;
	line-height: 1.25;
}
span {
	color: #b2b2b2;
	text-transform: none;
	font-size: 14px;
	white-space: pre;
	font-weight: 700;
}