.close {
  top: 10px;
  opacity: 0.3;
  position: absolute;
  z-index: 2;
  right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  content: " ";
  height: 26px;
  width: 2px;
  background-color: black;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
